/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  height: 500vh;
  width: 90vw;
  margin-top: 2vh;
  background-color: whitesmoke;
}

html {
  display: flex;
  justify-content: center;
}

nav {
  font-family: "Gantari", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1rem;
  a {
    padding: 3px;
    margin-top: 15px;
    margin-left: 50px;
    background-color: black;
    color: whitesmoke;
  }
  a:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    box-sizing: border-box;

  }
}

* {
  transition: all 0.5s;
}

h1 {
  font-family: "Gantari", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  text-wrap: nowrap;
  span {
    font-size: 0.1em
  }
}
h2 {
  font-family: "Gantari", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
p {
  font-family: "Gantari", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  margin-bottom: 75px;
}

article {
  width: 90vw;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50px 50px 0 0;
  min-height: 75px;
  div {
    margin: 15px;
  }
  overflow: hidden;
  position: relative;
}

section > article:nth-child(1) {
  background-color: coral;
  margin-top: -50;
}
section > article:nth-child(2) {
  background-color: orangered;
  margin-top: -50px;
}
section > article:nth-child(3) {
  margin-top: -50px;
  background-color: red;
}
section > article:nth-child(4) {
  margin-top: -50px;
  background-color: crimson;
}

section > article:nth-child(5) {
  margin-top: -50px;
  background-color: darkred;
}

.sizeDown {
  transform: scale(0.95);
  transform: translate(0, 30%);
  overflow: hidden;
  opacity: 0;
}

#introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  margin-top: 20px;
  margin-bottom: 40px;
  div {
    width: 5px;
    background-color: black;
    align-self: stretch;
    margin: 10px;
  }
  padding: 20px;
}