/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Vars */
:root {
    --md-sys-color-primary: rgb(169 199 255);
    --md-sys-color-surface-tint: rgb(169 199 255);
    --md-sys-color-on-primary: rgb(7 48 95);
    --md-sys-color-primary-container: rgb(38 71 119);
    --md-sys-color-on-primary-container: rgb(214 227 255);
    --md-sys-color-secondary: rgb(189 199 220);
    --md-sys-color-on-secondary: rgb(39 49 65);
    --md-sys-color-secondary-container: rgb(62 71 88);
    --md-sys-color-on-secondary-container: rgb(217 227 249);
    --md-sys-color-tertiary: rgb(220 188 225);
    --md-sys-color-on-tertiary: rgb(62 40 69);
    --md-sys-color-tertiary-container: rgb(86 62 92);
    --md-sys-color-on-tertiary-container: rgb(249 216 254);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(17 19 24);
    --md-sys-color-on-background: rgb(226 226 233);
    --md-sys-color-surface: rgb(17 19 24);
    --md-sys-color-on-surface: rgb(226 226 233);
    --md-sys-color-surface-variant: rgb(67 71 78);
    --md-sys-color-on-surface-variant: rgb(196 198 207);
    --md-sys-color-outline: rgb(142 144 153);
    --md-sys-color-outline-variant: rgb(67 71 78);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(226 226 233);
    --md-sys-color-inverse-on-surface: rgb(46 48 53);
    --md-sys-color-inverse-primary: rgb(63 95 144);
    --md-sys-color-primary-fixed: rgb(214 227 255);
    --md-sys-color-on-primary-fixed: rgb(0 27 61);
    --md-sys-color-primary-fixed-dim: rgb(169 199 255);
    --md-sys-color-on-primary-fixed-variant: rgb(38 71 119);
    --md-sys-color-secondary-fixed: rgb(217 227 249);
    --md-sys-color-on-secondary-fixed: rgb(18 28 43);
    --md-sys-color-secondary-fixed-dim: rgb(189 199 220);
    --md-sys-color-on-secondary-fixed-variant: rgb(62 71 88);
    --md-sys-color-tertiary-fixed: rgb(249 216 254);
    --md-sys-color-on-tertiary-fixed: rgb(40 19 47);
    --md-sys-color-tertiary-fixed-dim: rgb(220 188 225);
    --md-sys-color-on-tertiary-fixed-variant: rgb(86 62 92);
    --md-sys-color-surface-dim: rgb(17 19 24);
    --md-sys-color-surface-bright: rgb(55 57 62);
    --md-sys-color-surface-container-lowest: rgb(12 14 19);
    --md-sys-color-surface-container-low: rgb(25 28 32);
    --md-sys-color-surface-container: rgb(29 32 36);
    --md-sys-color-surface-container-high: rgb(40 42 47);
    --md-sys-color-surface-container-highest: rgb(51 53 58);
  }
/* General Styles */
* {
    color: var(--md-sys-color-on-surface);
    scroll-behavior: smooth;
    transition: all 0.1s linear;
}
body {
    background-color: var(--md-sys-color-surface-container-lowest);
    width: 100vw;
    overflow-x: hidden;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 600;
    align-items: start;
}
h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}
h3 {
    z-index: 2;
    opacity: 0;
}
p, a {
    font-family: 'Archivo', sans-serif;	
}

header, nav {
    width: 100vw;
    display: flex;
    margin-bottom: 3vh;
}

header nav ul {
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: flex;
    flex-direction: row;
    background-color: var(--md-sys-color-primary-container);
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    border-radius: 0px 0px 50px 50px ;
    height: fit-content;
    padding: 1vw;
}

section {
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 2vw, 4rem);
    transform: translateY(-50px);
    margin-bottom: -50px;
    justify-content: start;
    align-items: center;
    div {
        p {
            width: 90vw;
            text-align: left;
        }
    }
}
section div div {
    position: relative;
}
section:first-of-type {
    transform: translateY(0px);
}
section > :first-child {
    margin-top: clamp(4rem, 2vw, 6rem);
}
section > :last-child {
    margin-bottom: calc(50px + clamp(4rem, 2vw, 6rem));
}

div {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    flex-direction: column;
    align-items: center;
}

img {
    width: 95vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 2rem);
}
/* IDs */
#socials {
    flex-direction: row;
    margin-top: unset;
    img {
        width: clamp(1rem, 2vw, 4rem);
    }
}
#view-portfolio {
    width: max-content;
    align-self: center;
}
#job-description {
    text-align: center;
}

#portfolio > div:last-child a {
    width: 95vw;
    height: 95vw;
    background-color: black;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    section {
        height: 100vh;
        width: 95vw;
        border-radius: unset;
        div {
            h1 {
               font-size:  clamp(1.5rem, 2vw, 6rem);; 
            }
            display: flex;
            flex-direction: row;
            img {
                width: clamp(2rem, 2vw, 4rem);
            }
        }
        > div {
            width: 95vw;
            justify-content: space-between;
        }
        div:last-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 95vw;

            img {
                width: 95vw;
                margin-top: 2vh;
            }
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    p {
                    width: 95vw;
                    }}
        }
    }
}

#portfolio a {
    object-fit: cover;
    background-size: cover !important;
}
#portfolio a:hover::before {
    opacity: 0;
}
#portfolio a:hover h3 {
    opacity: 1;
}

#portfolio a::before {
    content: ''; /* Required for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66); /* Black overlay with 90% opacity */
    z-index: 1; /* Place overlay above background but below content */
    transition: opacity 0.1s linear; /* Smooth transition for opacity */
    opacity: 0; /* Initial opacity */
}

#portfolio a:hover::before {
    opacity: 1; /* Transition to 0 opacity on hover */
}

/* Media queries */
@media (min-width: 800px) {
    section:first-of-type > div:first-of-type{
        flex-direction: row;
        align-self: center;
        width: 90vw;
        white-space: nowrap;
    }
    section div {
        margin-top: 0;
    }
    section > div:first-of-type {
        margin-top: clamp(4rem, 2vw, 6rem);
    }

    #about {
        img {
            width: 33vw;
        }
    }

    #portfolio > div:last-child a {
        width: 25vw;
        height: 25vw;
        img[data="wide"] {
            height: 25vw;
        }
        img[data="tall"] {
            width: 25vw;
        }
    }
    #portfolio > div:last-child {
        flex-direction: row;
        width: 95vw;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #artwork section div:last-child {
        flex-direction: row;
        div p {
            width: 50vw
        }
        img {
            margin-top: unset;
            width: 33vw;
        }
    }
}