/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Vars */
:root {
    --md-filled-tonal-button-container-color: #A6C8FF;
    --md-filled-tonal-button-label-text-color: #003060;
}
/* General Styles */
* {
    color: #E2E2E7;
    scroll-behavior: smooth;
}
body {
    background-color: #121317;
    width: 100vw;
    overflow-x: hidden;
}
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 600;
}
h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}
p, a {
    font-family: 'Archivo', sans-serif;	
}

header, nav {
    width: 100vw;
    display: flex;
    margin-bottom: 3vh;
}

header nav ul {
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: flex;
    flex-direction: row;
    background-color: #3C4A60;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    border-radius: 0px 0px 50px 50px ;
    height: fit-content;
    padding: 1vw;
    li a {
        color: inherit;
    }
}

section {
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 2vw, 4rem);
    transform: translateY(-50px);
    margin-bottom: -50px;
    justify-content: start;
    align-items: center;
    div {
        p {
            width: 90vw;
            text-align: left;
        }
    }
}
section:first-of-type {
    transform: translateY(0px);
}
section > :first-child {
    margin-top: clamp(4rem, 2vw, 6rem);
}
section > :last-child {
    margin-bottom: calc(50px + clamp(4rem, 2vw, 6rem));
}

div {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    flex-direction: column;
    align-items: center;
}

img {
    width: 95vw;
}

/* IDs */
#socials {
    flex-direction: row;
    margin-top: unset;
    img {
        width: clamp(1rem, 2vw, 4rem);
    }
}
#view-portfolio {
    width: max-content;
    align-self: center;
}
#job-description {
    text-align: center;
}

#portfolio > div:last-child a {
    width: 95vw;
    height: 95vw;
    background-color: brown;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    img[data="wide"] {
        height: 95vw;
        width: unset;
    }
    img[data="tall"] {
        height: unset;
        width: 95vw;
    }
}

#artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    section {
        height: 100vh;
        width: 95vw;
        border-radius: unset;
        div {
            h1 {
               font-size:  clamp(1.5rem, 2vw, 6rem);; 
            }
            display: flex;
            flex-direction: row;
            img {
                width: clamp(2rem, 2vw, 4rem);
            }
        }
        > div {
            width: 95vw;
            justify-content: space-between;
        }
        div:last-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 95vw;

            img {
                width: 95vw;
                margin-top: 2vh;
            }
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    p {
                    width: 95vw;
                    }}
        }
    }
}
/* Media queries */
@media (min-width: 800px) {
    section:first-of-type > div:first-of-type{
        flex-direction: row;
        align-self: center;
        width: 90vw;
        white-space: nowrap;
    }
    section div {
        margin-top: 0;
    }
    section > div:first-of-type {
        margin-top: clamp(4rem, 2vw, 6rem);
    }

    #about {
        img {
            width: 33vw;
        }
    }

    #portfolio > div:last-child a {
        width: 25vw;
        height: 25vw;
        img[data="wide"] {
            height: 25vw;
        }
        img[data="tall"] {
            width: 25vw;
        }
    }

    #artwork section div:last-child {
        flex-direction: row;
        div p {
            width: 50vw
        }
        img {
            margin-top: unset;
            width: 33vw;
        }
    }
}